html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #fff;
    background-color: #0f1419;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #ffb44c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #f59c20;
}

label {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ffb44c;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #ffb44c;
    background-color: #1b1a19;
    outline: none;
}

button:disabled {
    color: #999;
}

button:focus {
    color: #f59c20;
    border-color: #f59c20;
}

button:hover {
    color: #f59c20;
    border-color: #f59c20;
}